<ul class="side-nav astro-side-bar-top">
    <li>
        Astronoms
    </li>
    <li class="astro-side-bar-button">    
        <a href="/meals/new" class="text-right">
            <div class="show-for-medium-up">
            Eat
            </div>
            <i class="fa fa-cutlery"></i>
        </a>
    </li>
    <li class="astro-side-bar-button">    
    <a href="/inventory" class="text-right">
            <div class="show-for-medium-up">
                Inventory 
            </div>
            <i class="fa fa-tags"></i>
        </a>
    </li>
    <li class="astro-side-bar-button">    
        <a href="/meals/show" class="text-right">
            <div class="show-for-medium-up">
            Review
            </div>
            <i class="fa fa-calendar"></i>
        </a>
    </li>
</ul>
