<ul class="side-nav">
    <li>Astronoms</li>
    <li>    
        <a href="/review"> Eat </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/inventory"> Inventory </a>
    </li>
    <li>    
        <a href="/review"> Review </a>
    </li>
</ul>
