<h1>Review Meals</h1>

<div class="inventory-pane">
    <div class="row inventory-item inventory-item">
        <div class="small-9 medium-9 large-9 columns">
            <strong>Meal</strong>
        </div>
    </div>
    <% @meals.each do |m| %>
    <div class="row inventory-item inventory-item">
        <div class="small-9 medium-9 large-9 columns">
        </div>
    </div>
    <% end %>
    <%= will_paginate @meals %>
</div>
