<h1>Review Meals</h1>

<div class="inventory-pane">
    <div class="row inventory-item inventory-item">
        <div class="small-9 medium-9 large-9 columns">
            <strong>Meal</strong>
        </div>
    </div>
    <div class="row inventory-item inventory-item">
        <div class="small-9 medium-9 large-9 columns">
        </div>
    </div>
</div>
