.inventory-pane {
    color: $priColor;

}
.all-out{
    color: $auxColor;
}

.inventory-item{
    margin-bottom:5px;
    padding: 5px;

    &:hover {
        background-color: $secColor;
        color: $backgroundColor;
    }
}

#graph-container {
    background-color: #000;
    padding:40px;
}

.inventory-table-header {
    background-color: transparentize($secColor, .6);
    font-size: 1.4em;
}

.inventory-table {
    .inventory-item {
        color: $priColor;

        background-color: transparentize($auxColor, .9);
            a:active,:link,:hover,:visited {
                color: $priColor;
            }
        
        
        &:nth-child(even) {
            background-color: transparentize($secColor, .9);
        }

        &:hover {

            a:active,:link,:hover,:visited {
                color: #000;
            }

            color: #000;
            background-color: transparentize($priColor, .4);
        }

    }
}

.food-info-header {
    background-color: transparentize($secColor, .6);
    padding:15px;
}

.food-logistics-quantity
{    
    text-align:right;
}

.food-logistics-name
{
    padding: 15px;
    line-height:80%;
    font-size: 1.8em;
}


